.c-site-nav {
  border-bottom: 1px solid var(--pico-muted-border-color);
  background: var(--pico-card-background-color);
  padding: 0 1rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.c-site-nav__crumbs {
  margin: 0;
  padding: 0.25rem 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--font-mono);
  font-size: 0.875rem;
  line-height: 1;
}

.c-site-nav__links {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.c-site-nav__crumbs > li {
  margin: 0;
  padding: 0;
}

.c-site-nav__crumbs > li a {
  font-weight: 500;
  letter-spacing: 0.01em;
  padding: 0;
  margin: 0;
}

.c-site-nav__links a {
  font-size: 0.875rem;
  color: var(--pico-muted-color);
  text-decoration: none;
}
