.c-post-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.c-post-list .c-post-list__item {
  margin-bottom: 0.65rem;
  list-style: none;
}


.c-post-list__title {
  font-family: var(--font-mono);
  font-weight: 500;
}

.c-post-list__description {
  color: var(--pico-muted-color);
  font-size: 0.95rem;
}

.c-post-card {
  display: block;
  margin-bottom: 1.5rem;
  padding: 0;
  background: none;
  box-shadow: none;
  border-radius: 0;
}

.c-post-card__title {
  font-family: var(--font-mono);
  font-weight: 500;
  display: block;
  margin-bottom: 0.25rem;
}

.c-post-card__tldr {
  color: var(--pico-muted-color);
  font-size: 0.95rem;
  margin-bottom: 0.4rem;
}
